/* ---------- Mobile view responsive CSS start from here ---------- */
@media screen and (max-width: 576px) {
    body .section-heading h2 {
        font-size: 2rem;
    }

    /* ---------- Navbar start from here ---------- */
    header nav .nav-links {
        display: none;
    }
    header nav .hamburger-manu {
        display: block;
    }
    header nav .hamburger-manu > svg {
        /* height: 24px;
        width: 24px; */
    }
    /* ---------- Navbar end here ---------- */

    /* ---------- Banner start here ---------- */
    header .banner {
        flex-direction: column;
        align-items: center;
    }
    header .banner .banner-content {
        max-width: 100%;
    }
    header .banner .banner-content .banner-title {
        font-size: 2.25rem;
    }
    header .banner .banner-content > p {
        width: 274px;
    }
    header .banner .banner-img > .bg-img-tag {
        bottom: 230px;
        left: -30px;
    }
    header .banner .banner-img > .left {
        transform: translateY(-180px) translateX(220px);
    }
    /* ---------- Banner end here ---------- */

    /* ---------- Habit start here ---------- */
    main .habit {
        padding: 50px 0;
    }
    main .habit .container > .section-heading {
        width: 100%;
    }
    main .habit .container > .section-heading h3 {

    }
    main .habit .habit-items {
        grid-template-columns: repeat(1, 1fr);
    }
    main .habit .habit-items > .item {
        width: 231px;
        margin-inline: auto;
    }
    /* ---------- Habit end here ---------- */

    /* ---------- Run start from here ---------- */
    main .run {
        flex-direction: column;
        gap: 31px;
    }
    main .run .run-content > .btn-primary {
        padding: 16px 0;
        width: 100%;
    }
    /* ---------- Run end here ---------- */
}
/* ---------- Mobile view responsive CSS end here ---------- */

/* ---------- Tablet view responsive CSS start from here ---------- */
@media screen and (min-width: 576px) and (max-width: 992px) {
    /* ---------- Navbar start from here ---------- */
    header nav .nav-links li a {
        margin-right: 20px;
    }
    /* ---------- Navbar end here ---------- */

    /* ---------- Banner start here ---------- */
    header .banner {
        flex-direction: column;
    }
    header .banner .banner-content {
        width: 100%;
    }
    header .banner .banner-img > .left {
        transform: translateY(-320px) translateX(270px);
    }
    /* ---------- Banner end here ---------- */

    /* ---------- Habit start here ---------- */
    main .habit .container > .section-heading {
        width: 475px;
    }
    main .habit .habit-items {
        grid-template-columns: repeat(2, 1fr);
    }
    /* ---------- Habit end here ---------- */
}
/* ---------- Tablet view responsive CSS end here ---------- */